{erl_opts, [no_debug_info]}.
{deps, [
    {jason, ".*", {git, "https://github.com/crownedgrouse/jason.git"}}
]}.

{escript_incl_apps, [generator, jason]}.
{escript_main_app, generator}.
{escript_name, generator}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
